@keyframes apparitionHero-txt {
    from {
        opacity: 0;
        transform: translateX(-15px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

body.info main.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

body.info main.info .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    min-height: clamp(360px, 50vh, 500px);
    width: 100%;

    background-image: url(../img/hero-background3.jpg);
    background-size: cover;
    background-position-y: center -250px;
}

body.info main.info .hero .hero-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    gap: 30px;

    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

body.info main.info .hero .hero-container img {
    width: clamp(175px, 30vw, 275px);
    object-fit: contain;
}

body.info main.info .hero .hero-container .hero-text {
    text-align: left;
}

body.info main.info .main-container.info {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 0;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 30px;

    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: var(--main-container-color);
}

body.info main.info .container {
    gap: 40px;
    max-width: 1100px;
    width: 100%;
    margin: 20px 40px;
    padding: 30px;

    border-radius: 24px;
    box-shadow: 0 12px 35px var(--container-shadow-color);
    background-color: var(--main-container-color);
}

body.info main.info .container h1,
body.info main.info .container h2 {
    margin-bottom: 15px;
}

body.info main.info .container h3 {
    text-align: center;
    margin-bottom: 5px;
}

body.info main.info .container hr {
    margin-bottom: 10px;
}

body.info main.info .container p {
    margin-bottom: 20px;
}

body.info main.info .container img.centrer {
    width: 60%;
    display: block;
    margin: 60px auto 30px auto;
}

body.info main.info .container .section-titre {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

body.info main.info .container .section-titre img {
    width: 70px;
    height: auto;
}

body.info main.info .container .section-titre h2 {
    margin-bottom: 0;
}

body.info main.info .container .section-img img {
    object-fit: contain;
    width: 100%;
}

body.info main.info .container .sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

body.info main.info .container .sub-container article{
    flex: 1 1 200px;

    padding: 15px;
    color: var(--article-txt-color);
    background-color: var(--article-bkg-color);
    box-shadow: -12px 12px 5px var(--article-shadow-color);

    transition: all 0.25s ease;
}

body.info main.info .container .sub-container article:hover {
    background-color: var(--article-bkg-color-hover);
}

body.info main.info .container.type2 {
    display: flex;
    align-items: center;
}

body.info main.info .container-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

body.info main.info .container-btn .btn {
    margin: 8% 0 5% 0;
    width: 50%;
    text-align: center;
    padding: 24px 28px;
}

@media (min-width: 1200px) {
    body.info main.info .hero {
        height: 600px;
        background-position-y: -800px;
    }

    body.info main.info .hero .hero-container img {
        width: 330px;
    }

    body.info main.info .container img.centrer {
        width: 50%;
    }
}

@media (max-width: 767px) {
    body.info main.info .container img.centrer {
        width: 80%;
    }

    body.info main.info .container .section-titre {
        justify-content: center;
    }

    body.info main.info .container .section-titre h2 {
        text-align: center;
    }

    body.info main.info .container .section-img {
        display: flex;
        justify-content: center;
    }

    body.info main.info .container .section-img img {
        width: 50%;
    }

    body.info main.info .container .section-txt h2 {
        text-align: center;
    }

    body.info main.info .container.type2 {
        flex-direction: column;
    }
    
}
