body.projet {
    main.projet {
        height: 100%;
        width:100%;

        display: flex;
        flex-direction: row;
        justify-content: center;

        background-image:url(../img/hero-background3.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height:fit-content;

        .main-container.projet {
            display: flex;
            flex-direction: row; 
            align-items: flex-start;
            gap: 30px;

            max-width: 1100px;
            width: 100%;
            margin: auto;
            padding: 30px;

            background-color: transparent;
            box-shadow: none;
            border-radius: 0;

            aside{
                position:sticky;
                top:30px;
                height: calc(100vh - 60px);
                width: 30%;
                background-color: var(--aside-bkg-color);
                padding: 25px; 
                border-radius: 24px;
                
                ul li{
                    color: var(--aside-txt-color);
                }
            }

            .txt-container{
                gap: 40px;
                max-width: 1100px;  
                width: 70%;
                height:fit-content;
                margin: 0;
                padding: 30px;

                border-radius: 24px;
                box-shadow: 0 12px 35px var(--container-shadow-color);
                background-color: var(--main-container-color); 
            }
        }
            
    }
}